backports.functools-lru-cache==1.6.1
backports.ssl-match-hostname==3.7.0.1
bcrypt==3.1.7
bintrees==2.0.7
certifi==2022.12.7
cffi==1.14.2
cycler==0.10.0
gdax==1.0.6
kiwisolver==1.1.0
matplotlib==2.2.5
numpy==1.16.6
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.20.0
six==1.10.0
websocket-client==0.40.0
wincertstore==0.2
